body {
    background: linear-gradient(146deg, #84d6d0, #2e8fd2);
    background-size: 400% 200%;
    min-width: 825px;
}

.nav {
    margin: 30px 0;
    text-align: center;
}

.container {
    max-width: 816px;
    max-height: 816px;
    border-radius: 2px;
    margin: auto;
}
