body {
    background-color: #fff9ed;
    margin: 0;
    padding: 0;
    min-width: 825px;
}

[data-start] {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #d5978e;
    text-transform: uppercase;
}

[data-clear] {
    width: 150px;
    height: auto;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    background-color: #d5978e;
    text-transform: uppercase;
}

#container {
    max-width: 816px;
    border: 1px solid #2d2d2d;
    height: 1000px;
    margin: 20px auto;
    position: relative;
}

ul {
    display: table-cell;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-color {
    background-color: #2d2d2d;
    opacity: 0.1;
}
