.btn-lg {
  width: 120px;
  height: 40px;
  border: 1px solid darken($btn-main, 25%);
  font-size: 1em;
  color: $light;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: $btn-main;
}
